<div class="bg-success d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 mx-auto">
    <div class="card-header text-center">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">CPF:<label class="text-danger">*</label></label>
          <input type="text" class="form-control" id="username" placeholder="Insira seu CPF">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha:<label class="text-danger">*</label></label>
          <input type="password" class="form-control" id="password" placeholder="Insira sua senha">
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
