<div class="bg-success d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 mx-auto">
    <div class="card-header text-center">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">
            <i class="pi pi-user" style="font-size: 0.8rem; padding-right: 0.1rem"></i>
            CPF:<label class="text-danger">*</label>
          </label>
          <br>
          <input type="text" pInputText placeholder="Insira seu CPF" class="w-100"/>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">
            <i class="pi pi-unlock" style="font-size: 0.8rem; padding-right: 0.1rem"></i>
            Senha:<label class="text-danger">*</label>
          </label>
          <br>
          <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
